<section id="indicatorInfo">
    {CONTENT_ERROR}
    <h2>{INDICATOR_CODE} : {INDICATOR_NAME}</h2>
    <span id='pan'>→<a href="index.php" alt="#COMPETENCES#">#COMPETENCES#</a> / <a href="index.php?competence={COMPETENCE_ID}" alt="{COMPETENCE_NAME}">{COMPETENCE_NAME}</a> </span> 
    <section>
        <h4>#INDICATOR_EVOLUTION#</h4>
        {DIAGRAM}
    </section>
    <section>
        <h3>#LEGEND#</h3>
        <ul>
            {ELEMENTS}
        </ul>
    </section>
    <section>       
        <p><span class="infoText">#STRICT_EVALUATION#:</span> {STRICT_MEAN}</p>  
    </section>
</section>