<section>
        <h2>#ERROR#</h2>
        <div id="errorContent">
            <div id="errorText">
                <img id='errorImage' src="{IMG_FOLDER}/error.png" alt="#ERROR_ALT_TEXT#">
                <ul>
                    <li><span class="infoText">#WHAT#</span>: #WHAT_EXPLANATION#</li>
                    <li><span class="infoText">#WHY#</span>: #WHY_EXPLANATION#</li>
                    <li><span class="infoText">#WHAT_CAN_I_DO#</span>: #WHAT_CAN_I_DO_EXPLANATION#</li>
                    <li><span class="infoText">#CAN_I_HELP_YOU#</span>: #CAN_I_HELP_YOU_EXPLANATION#</li>                    
                </ul>
                <p>
                    #EXCUSE_ME#
                </p>
            </div>
        </div>
</section>