<tr onclick="checkElement('check{COMPETENCE_IDENTIFICATOR}')">
    <td><input type="checkbox" id="check{COMPETENCE_IDENTIFICATOR}" name="selectedCompetences[]" value="{COMPETENCE_IDENTIFICATOR}"></td>
    <td><textarea name="CHANGE_COMPETENCE_NAME__{COMPETENCE_IDENTIFICATOR} ">{COMPETENCE_NAME}</textarea></td>
    <td><input type="text" class="adminTextInput" name="CHANGE_COMPETENCE_CODE__{COMPETENCE_IDENTIFICATOR}" size="17" value="{COMPETENCE_CODE}"></td>
    <td><textarea name="CHANGE_COMPETENCE_DESCRIPTION__{COMPETENCE_IDENTIFICATOR}">{COMPETENCE_DESCRIPTION}</textarea></td>
    <td><select name="CHANGE_COMPETENCE_TYPE__{COMPETENCE_IDENTIFICATOR}">{COMPETECENCE_TYPES}</select></td>
    <td><a href="index.php?competencesIndicator={COMPETENCE_IDENTIFICATOR}"><img src="{IMG_FOLDER}/run_blue.png"><a></td>     
      
</tr>