<section>
    <h3>#TASKS#</h3>
    <ul class="taskMenu">
        <li><a href="index.php?activityEval={ACTIVITY_ID}">#EVALUATION#</a></li>
        <li class="selected"><a  href="index.php?students={ACTIVITY_ID}">#STUDENT_LIST#</a></li>
        <li><a href="index.php?studentsEval={ACTIVITY_ID}">#STUDENT_LIST_EVAL#</a></li>
        <li><a href="index.php?evaluationReport={ACTIVITY_ID}">#STUDENT_LIST_REPORT#</a></li>
        <li><a href="index.php?sessionsAsistance={ACTIVITY_ID}">#STUDENT_ASSISTANCE#</a></li>
        <li><a href="index.php?sessions={ACTIVITY_ID}">#MANAGE_SESSIONS#</a></li>
    </ul>
    <h3>#DESCRIPTION#</h3>
    <p>
           #STUDENT_TYPES_INFO#
    </p>
</section>