<tr>
    <td>{ASUNTO}</td>    
    <td>{DATE}</td>
    <td name="tcol1" id="hiddenColumn"><div class="notificationText">{MESSAGE}</div></td>
    <td name="tcol2" id="hiddenColumn"><a href="index.php?user={ID_USER}">{USER_NAME}</a></td>
    <td>{TYPE}</td>
    <td > {STATUS}</td>         
    <td name="tcol3" id="hiddenColumn"><a href="index.php?solveNotification={REPORT_ID}">{SOLVED}</a></td>
    <td><a href="index.php?deleteNotification={REPORT_ID}"><img src="{IMG_FOLDER}/Icon_delete_with_clock.png" alt="#DELETE#"/></a></td>
</tr>