<li class ="studentActivitiesDecoration">    
    <h5>
        <img src='{DIRECTORY}/view/images/commons/{TYPE_COMPETENCE}.png'>
        <a href='index.php?competence={ID}'>{NAME}</a>
        <img src='{DIRECTORY}/view/images/commons/progress_icon.png'>
        <span class="progresstext">
        #MEAN# = {MEAN}
        |
        </tr>
        #PROGRESS# = {PROGRESS}%
        </span>
        <img src='{DIRECTORY}/view/images/commons/{IS_PASSED}.png'>
    </h5>
    <p>
        {DESCRIPCION}
    </p>
</li>