<section>   
    <h2>#ABOUT#</h2>
   <p>{DATE}</p>
    <div>
        <p>#CREATION_ABOUT_DESCRIPTION#</p>
        <ul>
            <li>Germán Iglesias Padial</li>
            <li>Jorge Chamorro Padial</li>
        </ul>
        <p>#CREATION_ABOUT_DESCRIPTION_1#</p>
        <ul>
            <li>Juan Antonio Holgado Terriza</li>            
        </ul>
        <p>#CREATION_ABOUT_DESCRIPTION_2#</p>
        <ul>
            <li>Sandra Rodríguez Valenzuela</li>
        </ul>
    </div>
    
    <h3>#ABOUT_EXTERNAL_CONTENT#</h3>
    
    <div>
        <p>#CREATION_ABOUT_CONTENT#</p>
        
        <table class="tableElegant" cellspacing='0'>
            <tr>
                <th>#IMAGE#</th> 
                <th>#AUTHOR#</th>
                <th>#LICENSE#</th>
                <th>#SOURCE#</th>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/basic_competence.png" alt="basic_competence.png"></td>
                <td>Ain92</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Heart_template.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/GreyButton.png" alt="GreyButton.png"></td>
                <td>Kalan</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:GreyButton_RightArrow.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/GreenButton.png" alt="GreenButton.png"> (#DERIVED_WORK#)</td>
                <td>Kalan</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:GreyButton_RightArrow.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/RedButton.png" alt="RedButton.png"></td>
                <td>IronBrother</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="http://commons.wikimedia.org/wiki/File:RedButton_LeftArrow.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/icon_users.png" alt="icon_users.png"></td>
                <td>Markus Hohenwarter y Michael Borcherds</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:GeoGebra_icon_users.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/unchecked.png" alt="unchecked.png"></td>
                <td>Fibonacci (pseudónimo)</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="http://commons.wikimedia.org/wiki/File:Saint_Andrew%27s_cross.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/checked.png" alt="checked.png"></td>
                <td>Rocket000, Gmaxwell y WarX</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="http://commons.wikimedia.org/wiki/File:Purple_check.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/mail_send.png" alt="mail_send.png"></td>
                <td>Rainer Klute</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Mail-message-to.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/delete_content.png" alt="delete_content.png"></td>
                <td>Arne Nordmann</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Pictogram_voting_delete.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/basic_competence.png" alt="basic_competence.png"></td>
                <td>Ain92</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Heart_template.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td>#BACKGROUND_IMAGE#</td>
                <td>Andreuvv (Estudiante UGR)</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Facultad_de_Medicina_de_Granada.jpg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/addParticipant.png" alt="addParticipant.png"></td>
                <td>RRZE</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Add-participant.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/run.png" alt="run.png"></td>
                <td>RRZE</td>
                <td> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Run.svg" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>
            <tr>
                <td><img src="{IMG_FOLDER}/add.png" alt="add.png"></td>
                <td>Devcore</td>
                <td> <a href="https://en.wikipedia.org/wiki/Public_domain" title="Dominio Público">Dominio Público</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Icon_Add_256x256.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>      
            <tr>
                <td><img src="{IMG_FOLDER}/Stethoscopius.jpg" alt="Stethoscopius.jpg" style="height: 50px" ></td>
                <td>Sv</td>
                <td> 
                    <ul>
                        <li><a href="http://www.gnu.org/licenses/fdl-1.2.html" title="GNU FDL 1.2<">GNU FDL 1.2</a> (<a href="https://commons.wikimedia.org/w/index.php?title=File:Stethoscopius.jpg&action=history" title="#HISTORY#">#HISTORY#)</li>
                        <li><a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" title="Creative Commons Attribution-Share Alike 3.0 Unported">Creative Commons Attribution-Share Alike 3.0 Unported</a></li>
                        </ul>
                </td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Icon_Add_256x256.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>            
            <tr>
                <td><img src="{IMG_FOLDER}/new_image.png" alt="new_image.png"></td>
                <td>Everaldo Coelho </td>
                <td> <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html" title="GNU LGPL 2.1">GNU LGPL 2.1</a></td>
                <td><a href="https://commons.wikimedia.org/wiki/File:Recycled.png" title="Wikimedia Commons">Wikimedia Commons</a></td>
            </tr>            
        </table>
        <p>#WIKIMEDIA_COMMONS_THANKS#</p>
    </div>
</section>